*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

#root{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
